html
  head
    style
        include ../public/css/style.css
  body
    h1 this is sketch.
    p
        != text
    each dataObject, key in renderableData
        h3
            != key
        each responseObject in dataObject
            if responseObject.success
                a(href = responseObject.link)
                    img(src = responseObject.imageLink)
            else
                h5 no response
